.main_header{
	width: 100%;
	padding: 10px 0;
	box-shadow: 0px 1px 1px #eee;
}

.main_content{
	max-width: 1300px;
	display: flex;
	margin: 0 auto;
	/*padding: 20px 0;*/
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.main_content .logo img{
	width: 300px;
	height: 70px;
}

.main_nav{
	display: flex;
	max-width: 1000px;
}

.main_nav .nav_ul{
	width: 100%;
	display: flex;
	align-items: stretch;
}

.main_nav .nav_ul li{
	display: flex;
	align-items: center;
}

.nav_ul li a{
	text-transform: uppercase;
	font-weight: 600;
	display: flex;
	align-items: center;
	padding: 0 26px;
}

/*============================================================
*						Slider Show
*==============================================================*/

.main_slider_show{
	width: 100%;
	height: 90vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../img/architecture-2541038_1920.jpg");
}

/*============================================================
*								About
*==============================================================*/

.main_about{
	position: relative;
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: center;
	overflow: hidden;
	color: #fff;
}

.main_about:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #168AAD;
	border-radius: 0 0 50% 50%/ 0 0 100% 100%;
	transform: scaleX(1.5);
}

.main_about .about_content{
	position: relative;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}

/*============================================================
*								Shop
*==============================================================*/

.main_shop{
	width: 100%;
}

.main_shop .shop_content{
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
	padding: 20px 0;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.main_shop .shop_content header{
	flex-basis: 100%;
	padding-bottom: 20px;
	text-align: center;
}

.main_shop .shop_content article{
	flex-basis: calc(18% - 10px);
	margin: 0 5px;
	padding: 10PX 7PX;
	text-align: center;
	box-shadow: 0 4px 10px 0 rgb(52 160 164 / 50%), 0 4px 10px 0 rgb(52 160 164 / 59%);        

}

.shop_content article figure{
	width: 100%;
	height: 400PX;
	padding-bottom: 5px;
}

.shop_content article figure img{
	width: 100%;
	height: 250px;
	border-bottom: 2px solid #eee;
	padding: 10px;
}

.shop_content figure figcaption ul{
	display: flex;
	justify-content: center;
	padding: 5px 7px;
}

.shop_content figure figcaption p{
	margin-top: 20px;
}

/*============================================================
*								Service
*==============================================================*/

.main_service{
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	background-color: #F1F9F7;
}

.service_content{
	position: relative;
	max-width: 1300px;
	height: 100%;
	text-align: center;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.service_content header h1{
	padding-top: 100px;
	padding-bottom: 10px;
}

.service_content header p{
	padding: 30px 250px;
}

.service_content article{
	width: 657px;
	background: transparent;
	height: 40px;
	margin: 2px 0;
	text-align: left;
	padding: 10px 10px;
	-webkit-transform: skewX(20deg);
	   -moz-transform: skewX(20deg);
	    -ms-transform: skewX(20deg);
	     -o-transform: skewX(20deg);
	        transform: skewX(20deg);
	box-shadow: 0 4px 10px 0 rgb(52 160 164 / 50%), 0 4px 10px 0 rgb(52 160 164 / 59%);        
}

.service_content .skew_2{
	margin-right: -33px;
}

.service_content .skew_3{
	margin-right: -64px;
}

.service_content .skew_4{
	margin-right: -97px;
}

.service_content .skew_5{
	margin-right: -130px;
}

.service_content article p{
	-webkit-transform: skewX(-20deg);
	   -moz-transform: skewX(-20deg);
	    -ms-transform: skewX(-20deg);
	     -o-transform: skewX(-20deg);
	        transform: skewX(-20deg);
}

.service_content figure{
	width: 250px;
	height: 250px;
	background-color: rgb(255 2555 255 / 90%);
	border-radius: 50%;
	position: absolute;
	top: 279px;
	right: 180px;
	padding: 5px;
	box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 9%); 
}

.service_content figure img{
	background-color: #ccc;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.social_media{
	padding: 60px 0;
	margin-top: 40px;
}

.social_media a{
	font-size: 1.5em;
	padding: 0 10px;
}

/*============================================================
*							Choice
*==============================================================*/

.main_choice{
	width: 100%;
	padding: 100px 0;
	background-image: url("../img/the-cleaner-in-a-clean-glass-building.jpg");
}

.choice_content{
	display: flex;
	flex-wrap: wrap;
	max-width: 1300px;
	justify-content: space-between;
	margin: 0 auto;
}

.choice_content header{
	flex-basis: 100%;
	text-align: center;
}

.choice_content header h1{
	padding-top: 0px;
}

.choice_content article{
	flex-basis: calc(33% - 14px);
	display: flex;
	flex-wrap: wrap;
	margin: 20px 5px 5px 2px;
	justify-content: flex-start;
	background-color: transparent;
	align-items: center;
	padding: 10px;
	box-shadow: 0 4px 10px 0 rgb(52 160 164 / 50%), 0 4px 10px 0 rgb(52 160 164 / 59%); 
}

.choice_content article header{
	flex-basis: 100%;
}

.choice_content article figure{
	flex-basis: 20%;
	height: 53%;
	border-radius: 50%;
	border: 4px solid #ccc;
}

.choice_content article figure img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	padding: 2px;
	border: 4px solid #34A0A4;
}

.choice_content article p{
	flex-basis: 80%;
	padding: 0 10px;

}

/*============================================================
*							about us
*==============================================================*/

.about_us{
	width: 100%;
	padding-bottom: 80px;
}

.about_us .us_content{
	max-width: 1300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 40px 0;
	margin: 0 auto;
}

.about_us .us_content h1{
	padding-top: 30px;
	padding-bottom: 70px;
}

.about_us .us_content h1{
	text-align: center;
	flex-basis: 100%;
}

.about_us .us_content article{
	flex-basis: calc(25% - 40px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 20px;
	text-align: center;
	padding: 20px 10px;
}

.about_us .us_content article:hover{
	background-color: transparent;
	box-shadow: 0 4px 10px 0 rgb(52 160 164 / 50%), 0 4px 10px 0 rgb(52 160 164 / 59%); 	
}

.about_us .us_content article:hover img{
	border: 4px solid #34A0A4;
}

.about_us .us_content article:hover figure{
	border: 4px solid #D0EFF0;
}

.about_us .us_content article:hover .name_client{
	color: #52B69A;
}

.about_us .us_content article:hover .fa-quote-left{
	color: #A7D9F1
}

.about_us .us_content article:hover .fa-quote-right{
	color: #A7D9F1
}

.us_content article .fa-quote-left{
	margin-left: -200px;
	color: #CAE9F7;
}

.us_content article .fa-quote-right{
	margin-right: -200px;
	color: #CAE9F7;
}

.us_content article .name_client{
	font-weight: 600;
	padding-top: 7px;
	text-transform: capitalize;
}

.us_content article figure{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-top: 20px;
}

.us_content article figure img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	padding: 2px;
	border: 4px solid #52B69A;
}

.us_content article figure img:hover{
	border: 4px solid #34A0A4;
}

/*============================================================
*							Contact
*==============================================================*/

.main_contact{
	width: 100%;
	background-color: #eee;
	padding-bottom: 50px;
}

.contact_content{
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contact_content header{
	flex-basis: 100%;
	text-align: center;
}

.contact_content header h1{
	padding-bottom: 10px;
}

.contact_content header p{
	padding: 0 250px 40px;
}

.contact_content .map{
	flex-basis: 70%;
}

.contact_content form{
	flex-basis: 30%;
}

.contact_content form .form_content{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

form .form_content input{
	width: 300px;
	padding: 7px 10px;
	margin: 7px 0;
	text-transform: capitalize;
}

form .input_content input:focus{
	background-color: #D0EFF0;
	color: #fff;
}

.contact_content form textarea{
	width: 300px;
	margin: 7px 5px 0 5px;
	height: 195px;
}

.contact_content form textarea:focus{
	border: 0 solid red;
	box-shadow: 0 4px 10px 0 rgb(52 160 164 / 50%), 0 4px 10px 0 rgb(52 160 164 / 59%);
}

.contact_content form .btn{
	padding: 13px 80px;
	margin-top: 15px;
}

/*============================================================
*							Footer
*==============================================================*/


.footer{
	width: 100%;
}

.footer .footer_content{
	/*width: 1300px; */
	margin: 0 auto;
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer .footer_content a, p{
	flex-basis: 100%;
}

.footer .footer_content h1{
	padding: 0;
}

.footer .footer_content .footer_contact{
	flex-basis: calc(33% - 10px);
	margin: 8px 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: left;
	padding: 30px 0;
}

.footer .footer_content .footer_contact:hover{
	border: 2px solid #34A0A4;
}

.footer .footer_content .footer_contact ul li{
	padding: 5px 0;
	font-weight: 200;
	color: #34A0A4;
}

.fa, .far{
	font-size: 3em;
}

.footer .footer_content .footer_contact a{
	color: #34A0A4;
	font-size: 1.2em;
}

.right_direct{
	width: 100%;
	background-color: #333;
	text-align: center;
	padding: 25px 0;
}

.right_direct p{
	color: #fff;
	font-style: italic;
	font-weight: 200;
	text-transform: capitalize;
	font-size: .9em;
}

/*============================================================
*							Footer
*==============================================================*/
/*============================================================
*							Footer
*==============================================================*/

/*1024px*/
@media (max-width: 64em){
    
}

/*900px*/
@media (max-width: 56em){

	.main_content .main_nav{
		display: none;
	}

	.main_about{
		height: 115vh;
	}

	.service_content{
		justify-content: flex-start;
		align-items: flex-start;
	}

	.service_content .skew_2{
		margin-right: -33px;
	}

	.service_content .skew_3{
		margin-right: -64px;
	}

	.service_content .skew_4{
		margin-right: -97px;
	}

	.service_content .skew_5{
		margin-right: -130px;
	}

	.service_content article{
		height: 35px;
		padding-top: 3px;
		padding-bottom: 3px;	
	}

	.main_shop .shop_content article{
		flex-basis: calc(30% - 10px);
		margin-bottom: 40px;
	}

	.main_choice .choice_content article{
		flex-basis: calc(50% - 10px);
	}

	.about_us .us_content article{
		flex-basis: calc(50% - 40px);
		margin-bottom: 40px;
	}

	.contact_content .map{
		flex-basis: 50%;
		margin: 0 10px;
	}

	.contact_content form{
		flex-basis: 46%;
	}
   
	.footer .footer_content .footer_contact{
		flex-basis: calc(50% - 10px);
		background-color: red;
	}

}

/*768px*/
@media (max-width: 48em){

	.footer .footer_content{
		/*max-width: 768px;*/
	}


    
}


/*640px*/
@media (max-width: 40em){

	.main_about{
		height: 236vh;
	}

    .main_shop .shop_content article{
    	flex-basis: 90%;
    	margin-bottom: 10px;
    }

    .main_choice .choice_content{
    	justify-content: center;
    	margin: 0px;
    }

    .main_choice .choice_content article{
    	flex-basis: 90%; 
    	margin: 5px 0;
    }

    .about_us .us_content article{
    	flex-basis: calc(100% - 40px);   
	}

	.contact_content .map{
		flex-basis: 90%;
		margin-bottom: 10px;
	}

	.contact_content form{
		flex-basis: 90%;
	}
}

